
O_lurida/data/*fastq
*.bt2
O_lurida/data/Olurida_v081.fa
C_bairdi/data/cbai_genome_v1.01.fasta
O_lurida/data/Olurida_v081-bowtie-index.rev.6.sa
O_lurida/data/Olurida_v081-bowtie-index.rev.8.sa
*.sam
*.bam
.Rproj.use*
*.sam
C_gigas/.*
C_gigas/.Rproj.user/*
C_gigas/.Rproj.user/D3E3A8DF/sources/prop/F7305753
.Rproj.user
blastdb/*
C_gigas/data/GCF_000297895.1_oyster_v9_cds_from_genomic.fna
C_gigas/data/cgigas_uk_roslin_v1_genomic-mito.fa
